html, body {
	height: 100%;
	width: 100%;
	margin 0;
}

#app {
	height: 100%;
	width: 100%;
	background-color: #dee6f2;
}

#center {
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
	margin: 0 auto;
}

#grid {
	width: 462px;
    background-color: #47525d;
    border-radius: 10px;
    display: flex;
 	flex-wrap: wrap;
}

.box {
	 width: 150px;
    height: 150px;
    border-radius: 20px;
    background-color: #7b8994;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #47525d;
    margin: 2px;
    font-size: 50px;
}

.box:hover {
	 cursor: pointer;
}

#header {
	display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 50px;
}

.clicked-x {
	 background-color: #7195ce;
	 cursor: not-allowed !important;
}

.clicked-o {
	background-color: #4abf44;
	cursor: not-allowed !important;
}

.draw, .x-won, .o-won {
	font-size: 30px !important;
	margin-top: 10px !important;
	border-radius: 10px !important;
	width: 100%;

}

/*
.x-won {
	 background-color: #7195ce !important;
}

.o-won {
	 //background-color: #4abf44 !important;
}
*/

.show {
	visibility: visible;
}

.no-click {
	pointer-events: none;
}

.x-hover:hover {
	background-color: #7195ce;
}

.o-hover:hover {
	background-color: #4abf44;
}